*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body{
  background: linear-gradient(to right, #fd6af8, #ff8fca, #ff83a5);
  display: flex;
  align-items: center;
  justify-content: center;
}
img{
  width: 100%;
  height: 100%;
}
.text-win{
  background-color: crimson;
}
.game-container{
  width: 700px;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.scores{
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  height: 200px;
  font-size: 22px;
  margin-bottom: 50px;
}
.user-score,
.computer-score{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.scores i{
  font-size: 40px;
  margin-bottom: 10px;
}
.scores img{
  width: 20px;
  height: 20px;
  margin: 10px;
}
.game{
  height: 300px;
  width: 300px;
  display: flex;
  flex-wrap: wrap;
}
.game .section{
  width: 100px;
  height: 100px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
/* .game .section:hover{
  background-color: rgba(255, 255, 255, 0.6);
} */
.filled-section{
  pointer-events: none;
}
.shake{
  animation: shake 0.4s linear infinite;
}
.section1{
  border: 5px solid black;
  border-top: 0;
  border-left: 0;
}
.section2{
  border: 5px solid black;
  border-top: 0;
}
.section3{
  border: 5px solid black;
  border-top: 0;
  border-right: 0;
}
.section4{
  border: 5px solid black;
  border-left: 0;
}
.section5{
  border: 5px solid black;
}
.section6{
  border: 5px solid black;
  border-right: 0;
}
.section7{
  border: 5px solid black;
  border-bottom: 0;
  border-left: 0;
}
.section8{
  border: 5px solid black;
  border-bottom: 0;
}
.section9{
  border: 5px solid black;
  border-bottom: 0;
  border-right: 0;
}
.reset-btn{
  background-color: #fff;
  border: none;
  font-size: 22px;
  margin-top: 50px;
  padding: 10px 15px;
  border-radius: 5px;
  box-shadow: 0 0 3px gray;
  cursor: pointer;
  transition: all 0.3s ease;
}
.reset-btn:hover{
  background-color: #fff;
  box-shadow: 0 0 3px black;
}

@keyframes shake{
  0%{
    transform: rotate(deg0);
  }
  25%{
    transform: rotate(2deg);
  }
  75%{
    transform: rotate(-2deg);
  }
  100%{
    transform: rotate(0deg);
  }
}

@media screen and (max-width: 768px){
  .game-container{
    width: 400px;
    height: 100vh;
  }
  .scores{
    height: 20vh;
    font-size: 14px;
    margin-bottom: 20px;
  }
  .scores i{
    font-size: 28px;
  }
  .scores img{
    width: 15px;
    height: 15px;
  }
  .scores h1{
    font-size: 18px;
  }
  .game{
    height: 210px;
    width: 210px;
  }
  .game .section{
    width: 70px;
    height: 70px;
    -webkit-tap-highlight-color: transparent;
  }
  .section1{
    border: 2px solid black;
    border-top: 0;
    border-left: 0;
  }
  .section2{
    border: 2px solid black;
    border-top: 0;
  }
  .section3{
    border: 2px solid black;
    border-top: 0;
    border-right: 0;
  }
  .section4{
    border: 2px solid black;
    border-left: 0;
  }
  .section5{
    border: 2px solid black;
  }
  .section6{
    border: 2px solid black;
    border-right: 0;
  }
  .section7{
    border: 2px solid black;
    border-bottom: 0;
    border-left: 0;
  }
  .section8{
    border: 2px solid black;
    border-bottom: 0;
  }
  .section9{
    border: 2px solid black;
    border-bottom: 0;
    border-right: 0;
  }
  .reset-btn{
    font-size: 16px;
    margin-top: 30px;
    padding: 10px 15px;
  }
}

